* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: arial;
/*	background-image: url(background.jpg);
	background-size: cover;*/
}

.header {
	background: #ededed;
}

.container {
	width: 1200px;
	margin: auto;
}


a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 50px;

}

ul li {
	display: inline-block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background: #ededed; 
}

li a {
	display: block;
	color: red;
}

li a:hover {
	background: #fff;
	color: black;
}

.top-header {
	border-bottom: solid 2px red; 
}

.menu {
	display: inline-block;
	width: 100%;
}

.menu ul li {
	width: 10%;
}

.search {
	display: inline-block;
	line-height: 60px;
	width: 100%;
	text-align: center;

}

.search form {
	display: inline-block;
}

.search h2 {
	color: red;
	display: inline-block;
	padding: 0;
	margin: 0 4px;
	position: relative;
	top: 2px;
	font-size: 24px;
}

.search input {
	font-size: 16px;
	border: none;
	background: none;
	border-bottom: solid 1px red;
	outline: none;
	padding: 0;
	width: 400px;
}

.search button {
    height: 24px;
    width: 24px;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    top: 2px;
    padding-top: 4px;
}

.search img {
	display: inline-block;
    height: 16px;
    width: 16px;
}

.bot_header .container {
	/*border-bottom: solid 3px red;*/
	border: none;
}
.bot_header ul {
	/*overflow: hidden; */
	margin: 0px;
	padding: 0px;
	background: #ededed;
}

.category li {
	width: 235px; 
}

.sub_item {
	height: 200px;
	width: 100%;
	visibility: hidden;
	transition: transform 0.5s;
	position: relative;
	top: 20px;
}

.sub_item li {
	float: left;
	width: 100%;
}

.item:hover ul {
	visibility: visible;
	transform: translateY(-20px);
}