.login_form {
	width: 400px;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border: solid 1px white;
	border-radius: 10px;
	padding: 0 12px;
}

.login_form h2 {
	margin: 0;
	margin-bottom: 10px;
	padding: 5px 0;
	text-align: center;
	color: red;
}

.login_form form input{
	float: left;
	width: 100%;
	margin: 8px 0;
	padding: 4px 0;
	border: none;
	border-bottom: solid 1px #ededed;
	color: #ededed;
	outline: none;
	background: none;
	font-size: 16px;
}

.login_form a {
	color: gray;
	font-size: 14px;
	margin-top: 5px;
}

#btn {
	margin-top: 6px;
	cursor: pointer;
	border: solid 1px;
        color: #000000;
	font-size: 16px;
}